
@{
    /**/

    ViewBag.Title = "ListBinding";
}

<h2>ListBinding</h2>

@using (Html.BeginForm())
{
    <input type="number" name="numeros" class="form-control" />
    <input type="number" name="numeros" class="form-control" />
    <input type="number" name="numeros" class="form-control" />
    <input type="number" name="numeros" class="form-control" />
    <input type="number" name="numeros" class="form-control" />
    <input type="number" name="numeros" class="form-control" />
    <input type="number" name="numeros" class="form-control" />

    <button>Enviar Datos</button>
}
