@model Int32

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sumar</title>
</head>
<body>
    <div> 
        <h1>La suma de los valores ingresados es @this.model</h1>
    </div>
</body>
</html>
